.Header{
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	margin-bottom: 20px;
}

.Points{
	text-align: center;
	font-size: 1.5rem;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	margin-bottom: 14px;
}

.BtnWrap{
	text-align: center;
}